<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team6.mobile.iti"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Accessing camera hardware -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".AddMedicineActivity"
            android:label="@string/app_name"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/addMedicineStyle"
            android:screenOrientation="portrait"  >
        </activity>
        <activity
            android:name=".SetScheduleActivity"
            android:theme="@style/addMedicineStyle" 
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.team6.mobile.iti.SignInActivity"
            android:label="@string/app_name"
            android:theme="@style/addMedicineStyle"
            android:screenOrientation="portrait"  >
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/sign_up"
            android:theme="@style/addMedicineStyle"
            android:screenOrientation="portrait"  >
        </activity>
        <activity
            android:name=".ViewMedActivity"
            android:label="@string/view_med"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/addMedicineStyle"
            android:screenOrientation="portrait"  >
        </activity>
        <activity
            android:name=".ReminderListView"
            android:label="@string/app_name"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/addMedicineStyle" 
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/addMedicineStyle"
            android:screenOrientation="portrait"  >
        </activity>
        <activity
            android:name=".TimeAndDoseActivity"
            android:label="@string/title_activity_time_and_dose" 
            android:theme="@style/addMedicineStyle"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ReminderDialogSupport"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait" 
             >
            </activity>
        <activity
            android:name=".EditMedicineActivity"
            android:label="@string/editMedicine" >
        </activity>
        <activity
            android:name=".EditScheduleActivity"
            android:label="@string/editSchedule" >
        </activity>
    </application>

</manifest>
